<!-- HEADER / NAVBAR-->
<div class="animate__animated animate__fadeIn">
    <app-menu></app-menu>

    <img src="assets/images/ValleHermoso/logo_prueba_horizontal.png" class="logo-horizontal img-fluid mx-auto d-block img-size">

    <img src="assets/images/ValleHermoso/logo_prueba.png" class="logo-centro img-fluid mx-auto d-block img-size">

    <!-- 
<img src="assets/images/ValleHermoso/logo_valleHermoso_horizontal.jpg" class="logo-horizontal img-fluid mx-auto d-block img-size">

<img src="assets/images/ValleHermoso/logo_valleHermoso.jpg" class="logo-centro img-fluid mx-auto d-block img-size">

 -->



    <!-- LOGO centro arriba
assets/images/ValleHermoso/logo_valleHermoso_horizontal.jpg
 -->
    <!-- logo centro
assets/images/ValleHermoso/logo_ValleHermoso.jpg
 -->

    <!-- FOOTER OPTIONS -->
    <app-tabs-footer></app-tabs-footer>
</div>