<footer class="fixed-bottom bg-white">
    <div class="row row-cols-4">

        <div class="col-md-3 col-sm-3 col-xs-2 text-center">
            <button routerLink="/inicio" class="btn tab-hover">
                    <i class="fa fa-search text-secondary" aria-hidden="true"></i>
                    <p class="font-seccion">Buscador</p>
                </button>
        </div>

        <div class="col-md-3 col-sm-3 col-xs-2 text-center">
            <button routerLink="/obras" class="btn tab-hover">
                    <img src="assets/images/main/obras_icon.png" class="img-seccion">
                    <p class="font-seccion">Obras</p>
                </button>
        </div>

        <div class="col-md-3 col-sm-3 col-xs-2 text-center">
            <button routerLink="/adquisiciones" class="btn tab-hover">
                    <img src="assets/images/main/ad.png" class="img-seccion">
                    <p class="font-seccion">Adquisiciones</p>
                </button>
        </div>

        <div class="col-md-3 col-sm-3 col-xs-2 text-center">
            <button routerLink="/patrimonios" class="btn tab-hover">
                    <img src="assets/images/main/pat_icon.png" class="img-seccion">
                    <p class="font-seccion">Patrimonios</p>
                </button>
        </div>


        <!-- <div class="col-md-3 col-sm-3 col-xs-2 text-center">
            <button routerLink="/patrimonios" class="btn tab-hover">
                    <img src="assets/images/main/pat_icon.png" class="img-seccion">
                    <p class="font-seccion">Patrimonios</p>
                </button>
        </div> -->

        <!-- <div class="col-2">
                <button routerLink="/inicio" class="btn tab-hover">
                    <i class="fa fa-home" aria-hidden="true"></i>
                    <br>
                    Inicio
                </button>
            </div>  -->

        <!-- <div class="col-3 text-center" *ngFor="let item of items">
                <button [routerLink]="item.url" class="btn btn-hover">
                    <i [class]="item.icono"></i>
                    <br>
                    {{item.nombre}}
                </button>
            </div> -->

    </div>
</footer>