<div class="animate__animated animate__fadeIn">

    <app-title-options titulo="Acerca de..."></app-title-options>

    <!-- Plantilla para agregar los datos de la empresa -->
    <!-- Cambiar los datos -->
    <img src="assets/images/ValleHermoso/logo_ValleHermoso.png" class="mx-auto d-block img-size">
    <div class="text-center text-break pl-3 pr-3">
        <p class="font-weight-bold font-size">
            Gabriel Mayagoitia Fragoso Phd
            <br>DOCTOR EN DERECHO
            <br>PRESIDENTE Y DIRECTOR GENERAL
            <br>gmayagoitia@mayagoitiaabogados.com
        </p>
        <p class="font-weight-bold font-size">
            Mara Mireya Martínez Acosta
            <br>LIC. EN DERECHO
            <br>SUBDIRECTORA GENERAL
            <br>mmartinez@mayagoitiaabogados.com
            <br>Celular +52 1 811 500 2001
        </p>

        <p class="font-weight-bold font-size">
            Lope de Vega 1706 Col. Obispado Monterrey, N.L, C.P. 64060. Mexico<br> Teléfono +52(81) 8123 2310 / +52(81) 8123 2320
        </p>

        <p class="font-weight-bold font-size">@ copyright 2016. Todos los derechos reservados, protegidos por el Convenio de Bema, Acta de Paris y demas Tratados y Convenios Internacionales</p>
        <p class="font-weight-bold font-size">
            Ninguna parte de este software o sus imagenes pueden ser reproducidas total o parcialmente, en cualquier forma o cualquier medio,sin el permiso por escrito de M&M Consultoría en Finanzas y Administración Pública, S.A. de C.V.
        </p>
    </div>
    <hr class="mr-4 ml-4">
    <div class="row container">
        <div class="col-8 pl-20 font-weight-bold">
            <p class="font-size">Versión</p>
        </div>
        <div class="col-4 pl-20 font-weight-bold">
            <p class="font-size">0.1</p>
        </div>
    </div>

    <app-button-footer></app-button-footer>
</div>